<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD rules -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
	
	<session-factory>
			<!-- The Word hibernate is optional to write in below properties -->
			<!-- Loading Driver is also optional it automatically loads it from jar file -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3307/hb_demo</property>
		<property name="hibernate.connection.username">root</property>
   		<property name="hibernate.connection.password">hritik0000</property>
   	
   	<!-- 	<property name="hbm2ddl.auto">update</property>	-->
   		<property name="hbm2ddl.auto">update</property>
   		
   		<property name="hibernate.show_sql">true</property>
    	<property name="hibernate.format_sql">true</property>
    
 <mapping resource="com/app/entity/bank_account.hbm.xml" />

	</session-factory>
	
	</hibernate-configuration>